@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;

}

nav {
    border: 2px solid rgb(126, 36, 103);
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(36, 3, 26);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px;

}

.logo h1 {
    color: rgb(206, 150, 196);
    font-size: 20px;
    letter-spacing: -3px;
    font-family: cursive;

}

.logo span {
    color: rgb(131, 33, 82);
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Kalam', cursive;
}

#search {
    height: 30px;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    padding-left: 15px;
}

main {
    width: 70%;
    margin: 30px auto;
    padding: 30px;
}

.sec {
    border: 2px solid rgb(71, 69, 69);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 100px;
}

.one {
    border: 2px rgb(139, 46, 139);
    padding: 10px;
    height: 70px;
    width: 70px;
}

.one img {
    width: 70px;
    height: 70px
}

.two {
    border: 2px rgb(240, 226, 241);
    padding: 10px;
    height: 70px;
    width: 70px;
}

.two img {
    height: 70px;
    width: 70px;
}

.three {
    border: 2px rgb(43, 2, 34);
    padding: 10px;
    height: 70px;
    width: 70px;
}
.three img{
    height: 70px;
    width: 70px;
}
main h1{
    font-size: 20;
    font-family: cursive  ;
    font-weight: 900;
}
/*footer styles*/
footer{
    border-top: 2px solid rgb(24, 21, 24);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(23, 17, 29);
    padding: 30px 80px;
}
.footer_logo h1{
    color: rgb(206, 150, 196);
    font-size: 20px;
    letter-spacing: -3px;
    font-family: cursive;
}
.footer_logo span{
    color: rgb(131, 33, 82);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
}
.social_icons{
    margin-top: 15px;
}
.social_icons i{
color: aliceblue;
}
.social_content{

    display: flex;
    flex-direction: column;
}
.social_content a{
    text-decoration: none;
    color: rgb(219, 203, 233);
    padding: 3px;
}
.social_content a:hover{
    color: rgb(163, 66, 66);
}